<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>인증메일</title>
  <style>

  </style>
</head>
<body>
<div class="container text-center">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://i.pinimg.com/originals/f4/c1/c7/f4c1c70d19a3df93faa79aa3563e97ce.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
        <br><br>
          <h4 class="card-content">초대합니다.<br>여우별과 함께 <br>하시겠습니까?</h4>
          <br><br><br>
          <a href="http://192.168.31.64:8080/join/form/{{ user.secret_key }}+{{ user.username }}" target:'_blank'>함께하러가기</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card bg-dark text-white">
    <img src="https://ojsfile.ohmynews.com/STD_IMG_FILE/2017/0926/IE002223822_STD.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text">Last updated 3 mins ago</p>
    </div>
  </div>
</div>

</body>
</html>